# Nom du projet Docker Compose
COMPOSE_PROJECT_NAME=scipulse

# Version commune à Elasticsearch et Kibana
ELASTIC_VERSION=8.13.4

# Ports exposés sur l'ordinateur
ELASTICSEARCH_PORT=9200
KIBANA_PORT=5601